:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}


.body{
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  background: var(--white);
}
.logo-web-header{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio-header{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.nav-menu-list{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue);
}

.nav .nav-menu-list:hover{
  color: var(--ocean);
}

.nav .nav-menu-list:active{
  color: var(--ocean);
}

.nav-address{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
 }

.nav-address .nav-email:hover {
  color: var(--ocean);
}


.first-h{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  color: var(--white);
  background: var(--navy-blue);
  }

.button-order-service{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--iris);
  }

.button-order-service:hover {
  background-color: var(--ocean);
  }

.our-strong-points-header{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}

.our-strong-points-descr{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  }

.our-team{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: var(--navy-blue);
  }

.member-name{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  }
.member-position{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  }

.our-profilo{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: var(--navy-blue);
  }
.our-profilo-h{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  }

.our-profilo-desc{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  }
  
.logo-web-footer{
  font-family: var(--second-family);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--iris);
  }

.logo-studio-footer{
  font-family: var(--second-family);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16667;
  color: var(--cloud);
  }
.footer-text{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
}
